*{
    margin: 0;
    padding: 0;
}
#main{
    position: absolute;
    background-color: black;
    height: 30px;
    width: 1093px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main div{
    display: flex;
    justify-content: space-between;
}
#cc{
    color: orange;
    display: flex;
    justify-content: baseline;
}
#ops{
    color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
}
#log{
    color: orange;
    display: flex;
    justify-content: end;
}